<div class="aera-edit-page md-inline-form">
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label for="pageId">Find page by ID</label>
            <input type="number" id="pageId" ng-model="edit.page.pageId"/>
            <md-button class="md-raised" id="find-page" ng-click="edit.findPage()">Search</md-button>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label>This page will be in chapter</label>

            <md-select id="chapter" ng-model="edit.page.chapterId">
                <md-option ng-repeat="chapter in edit.chapters" value="{{chapter.chapterId}}"
                           ng-selected="chapter.chapterId == edit.page.chapterId">{{chapter.title}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label for="title">Title</label>
            <input type="text" id="title" ng-model="edit.page.title"/>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label for="text">Text</label>
            <textarea id="text" ng-model="edit.page.summary"></textarea>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <label for="csvFile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please select a CSV file to upload</label>
            <input type="file" id="csvFile" file-model="edit.page.csvFile" ng-model="edit.page.csvFile"/>
        </md-input-container>
    </div>
    <div layout="row" ng-show="edit.page.csvUrl">
        <md-button class="md-raised" ng-href="{{edit.page.csvUrl}}" download>Download Csv</md-button>
    </div>
    <div layout="row" id="image-file-container">
        <md-input-container class="md-block" flex-gt-sm="">
            <label for="imageFile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please select an image file to upload</label>
            <input type="file" id="imageFile" file-model="edit.page.imageFile" ng-model="edit.page.imageFile"/>
        </md-input-container>
    </div>
    <div layout="row" ng-show="edit.page.imageUrl">
        <md-button class="md-raised" ng-href="{{edit.page.imageUrl}}" download>Download Image</md-button>
    </div>
    <div layout="row" ng-show="edit.result">
       <p>Updated Page Id: {{edit.result}}</p>
    </div>
    <div layout="row" ng-show="edit.progressBar">
        <md-progress-linear md-mode="{{edit.modes[1]}}"></md-progress-linear>
    </div>
    <aera-reference references="edit.references"></aera-reference>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-sm="">
            <md-button class="md-raised md-primary" id="save" ng-click="edit.savePage()">Save</md-button>
            <md-button class="md-raised" id="new-page" ng-click="edit.clearForm()">Clear</md-button>
        </md-input-container>
    </div>
</div>