<md-content class="toolbar" layout="row">
    <md-button class="md-icon-button chapter-heading__button" aria-label="Chapter List"
               hide-gt-sm ng-click="view.toggleChapterList()">
        <md-icon md-svg-icon="images/menu.svg"></md-icon>
    </md-button>
  <div>{{view.selectedChapter.title}}</div>
</md-content>
<div layout-xs="column" layout-gt-xs="row">
  <md-list class="chapter-nav" role="navigation" hide-xs ng-class="{ 'show-element': view.showChapterList}" flex="10">
    <md-list-item ng-repeat="chapter in view.chapters">
      <md-button class="md-bg-primary chapter-nav__link"
                 ng-click="view.updateSelectedChapter(chapter.chapterId)"
                 ui-sref=".chapter({id: chapter.chapterId})">{{chapter.title}}</md-button>
    </md-list-item>
  </md-list>
  <md-content class="chapter-content" ui-view></md-content>
</div>