@import '../../common';

.chapter-nav {
  background-color: $primary-hue-1;
  color: $alt-text-colour;
  padding-top: 0;
}

.chapter-nav__link {
  white-space: normal;
  line-height: normal;
  display: flex;
  width: 100%;
}

.chapter-heading>h2 {
  padding: 8px;
  margin: 0;
  text-transform: uppercase;
}
