.show-element {
    display: block !important;
}

.main-header {
    display: flex;
    flex-flow: row nowrap;
}

.main-header__logo {
    width: 140px;
    height: 97px;
}

.main-header__title {
    flex-grow: 1;
}