@import 'common';

.show-element {
  display: block !important;
}

.main-header {
  display: flex;
  flex-flow: row nowrap;
}

.main-header__logo {
  padding-left: 50px;

  @media (max-width: $gt-xs) {
    padding-left: 10px;
  }
}

.main-header__title {
  flex-grow: 1;
  font-size: medium;
  font-weight: bold;
  margin-top: 30px;
  padding-left: 20px;
}

.toolbar {
  height: 50px;
  background-color: #006983;


  @media (max-width: $gt-xs) {
    font-size: small;
  }
}

.toolbar > div {
  padding-left: 20px;
  line-height: 50px;
  font-weight: bold;
  color: white;
  overflow: hidden;
  font-size: small;
}

.strap {
  height: 8px;
  margin-bottom: 3px;
}

.strap-blue {
  background-color: #72c7e7;
  width: 88%;
}

.strap-white {
  background-color: #fff;
  width: 3px;
}

.strap-red {
  background-color: #a33f1f;
  width: 12%;
}