$primary-colour: #006983;
$primary-hue-1: #267f95;
$primary-hue-2: #4c95a8;
$accent-colour: #a33f1f;
$alt-text-colour: #ffffff;

/* These screen sizes match with Angular Material Layouts
eg. @media(max-width: $xs-max) should behave the same as layout-xs
    @media(min-width: $gt-xs) should behave the same as layout-gt-xs */
$xs-max: 599px;
$gt-xs: 600px;
$sm-max: 959px;
$gt-sm: 960px;
$md-max: 1279px;
$gt-md: 1280px;
$lg-max: 1919px;
$gt-lg: 1920px;