<div class="aera-edit-page md-inline-form">
    <form>
        <md-input-container class="md-block">
            <label for="pageId">Find page by ID</label>
            <input type="number" id="pageId" ng-model="edit.page.pageId"/>
            <md-button type="submit" class="md-raised md-primary" id="find-page" ng-click="edit.findPage()">Search</md-button>
        </md-input-container>
    </form>

    <form>
        <md-input-container class="md-block">
            <label for="title">Title</label>
            <input type="text" id="title" ng-model="edit.page.title"/>
        </md-input-container>
        <md-input-container class="md-block">
            <label for="text">Text</label>
            <textarea id="text" ng-model="edit.page.summary"></textarea>
        </md-input-container>

        <md-input-container class="md-block">
            <label for="csvFile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please select a CSV file to upload</label>
            <input type="file" accept=".csv" id="csvFile" file-model="edit.page.csvFile" ng-model="edit.page.csvFile"/>
        </md-input-container>
        <md-button ng-show="edit.page.csvFile" class="md-accent" ng-href="{{edit.page.csvUrl}}" download>Download Csv</md-button>

        <md-input-container class="md-block">
            <label for="imageFile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please select an image file to upload</label>
            <input type="file" accept="image/*" id="imageFile" file-model="edit.page.imageFile" ng-model="edit.page.imageFile"/>
        </md-input-container>
        <md-button ng-show="edit.page.imageFile" class="md-accent" ng-href="{{edit.page.imageUrl}}" download>Download Image</md-button>

        <md-progress-linear ng-show="edit.progressBar" md-mode="{{edit.modes[1]}}"></md-progress-linear>

        <md-input-container class="md-block">
            <md-button class="md-raised" id="new-page" ng-click="edit.clearForm()">Clear</md-button>
            <md-button type="submit" class="md-raised md-primary" id="add-sources" ng-click="edit.saveAndContinue()">
                Save and Add References
            </md-button>
        </md-input-container>
    </form>
</div>