<header class="page-header">{{::page.title}}</header>
<md-content class="page-content">
  <figure class="page-graph">
    <img class="page-graph__image" ng-src="{{::page.imageUrlRequest}}" alt="{{::page.title}} graph" />
    <figcaption></figcaption>
  </figure>
  <div>
    <div class="page-content__text">{{::page.summary}}</div>
    <div class="page-content__reference" ng-repeat="source in page.sources" ng-bind-html="::source | aeraReference"></div>
  </div>
</md-content>
<div class="page-footer">
  <md-button target="_self" href="{{page.csvUrlRequest}}" class="page-footer__download">Download data as CSV</md-button>
</div>
<md-divider ng-if="!$last"></md-divider>

